[submodule "snip-extractor"]
	path = snip-extractor
	url = https://github.com/FissoreD/snip-extractor
[submodule "formalization/elpi-formalization"]
	path = formalization/elpi-formalization
	url = https://github.com/FissoreD/elpi-formalization
	branch = phd
