[submodule "ho-for-free/HO-unif-for-free"]
	path = ho-for-free/HO-unif-for-free
	url = https://github.com/FissoreD/HO-unif-for-free
	branch = phd
[submodule "snip-extractor"]
	path = snip-extractor
	url = https://github.com/FissoreD/snip-extractor
[submodule "formalization/elpi-formalization"]
	path = formalization/elpi-formalization
	url = https://github.com/FissoreD/elpi-formalization
	branch = phd
